/**
*   Stylesheet developed by Maciej Trojniarz for making presentations
*/
.notes {
    display: none;
}

.viewerNotes{
    display: none;
}

.showNotes {
    display: block;
    font-size: smaller;
    opacity: 0.6;
}

.tittle{
    text-align: center;
}

.number{
    margin-left: -150px;
    font-size: larger;
}

.lessImportant {
    font-size: 0.8em;
}

.important {
    font-weight: bold;
}

.center{
    text-align: center;
}

ul {
  list-style-type: disc;
}
ol {
    list-style-type: decimal;
}

.note {
    font-size: 0.6em;
}

.valueLabels {
    margin-top:-20px;
    margin-left:30px;
    font-size: 0.7em;
}
#twoFactorsCalculate {
    font-size:1.4em;
}
#twoFactorsCalculate h1 {
    text-align: center;
    font-weight: bold;
}

#scrumOverview {
    width: 1200px;
}

.participants {
    width: 1500px;
}

.optional {
    text-align: right;
    opacity: 0.5;
}
.moreOptional {
    opacity:0.2;
}
.highlyOptional {
    opacity:0.1;
}

.prohibited {
    opacity: 0;
}

.left {
    text-align: left;
}

img {
    height: 600px;
}